<app-header> </app-header>

<section class="py-12 bg-white sm:py-10 lg:py-10">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-6xl mx-auto">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">Finalize sua compra</h1>
      </div>

      <div
        class="grid grid-cols-1 mt-8 lg:grid-cols-5 lg:items-start xl:grid-cols-6 gap-y-10 lg:gap-x-12 xl:gap-x-16">
        <div class="lg:sticky lg:order-2 lg:top-6 lg:col-span-2">
          <div class="overflow-hidden rounded bg-gray-50">
            <div class="px-4 py-6 sm:p-6 lg:p-8">
              <h3 class="text-xl font-bold text-gray-900">
                Resumo do carrinho
              </h3>

              <div class="flow-root mt-8">
                <ul class="divide-y divide-gray-200 -my-7">
                  <li class="flex items-stretch justify-between space-x-5 py-7">
                    <div class="flex-shrink-0">
                      <img
                        class="object-cover w-16 h-16 rounded-lg"
                        src="https://s2-ge.glbimg.com/cco2ysRlaOGERgSxKVMwknDfygI=/0x0:1497x2000/984x0/smart/filters:strip_icc()/s.glbimg.com/es/ge/f/original/2019/09/14/gallerypic_1_g4adz8W.jpg"
                        alt="" />
                    </div>

                    <div class="flex flex-col justify-between flex-1 ml-5">
                      <div class="flex-1">
                        <p class="text-base font-bold text-gray-900">
                          Maratona Internacional de São Paulo
                        </p>
                        <p class="mt-1 text-sm font-medium text-gray-500">
                          Quantidade: 1
                        </p>
                      </div>
                      <p class="mt-2 text-sm font-bold text-gray-900">
                        R$ 10,00
                      </p>
                    </div>
                  </li>
                </ul>
              </div>

              <hr class="mt-6 border-gray-200" />

              <div class="mt-6 flex items-center space-x-4">
                <input
                  type="text"
                  placeholder="Insira seu cupom"
                  class="flex-1 block w-full px-4 py-3 text-sm font-medium text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:ring-blue-600 focus:border-blue-600" />
                <button
                  type="button"
                  class="inline-flex items-center justify-center px-4 py-3 text-sm font-bold text-white bg-blue-600 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 hover:bg-blue-700">
                  Aplicar
                </button>
              </div>

              <div class="flow-root mt-5">
                <div class="-my-5 divide-y divide-gray-200">
                  <div class="flex items-center justify-between py-5">
                    <p class="text-sm font-medium text-gray-600">Subtotal</p>
                    <p class="text-sm font-medium text-right text-gray-600">
                      R$ 10,00
                    </p>
                  </div>

                  <div class="flex items-center justify-between py-5">
                    <p class="text-sm font-bold text-gray-900">Total</p>
                    <p class="text-sm font-bold text-right text-gray-900">
                      R$ 10,00
                    </p>
                  </div>
                </div>
              </div>

              <div class="mt-6 hidden sm:block">
                <button
                  routerLink="/success"
                  type="button"
                  class="inline-flex items-center justify-center w-full px-6 py-4 text-sm font-bold text-white transition-all duration-200 bg-blue-700 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:bg-gray-700">
                  Finalizar compra
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="pt-6 border-t border-gray-200 lg:order-1 lg:col-span-3 xl:col-span-4">
          <div class="flow-root">
            <div class="">
              <div class="">
                <h2 class="text-base font-bold text-gray-900">
                  Dados pessoais
                </h2>

                <div class="mt-6">
                  <label for="" class="text-sm font-medium text-gray-600">
                    Email
                  </label>
                  <div class="mt-2">
                    <input
                      type="email"
                      id=""
                      name=""
                      placeholder=""
                      class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                  </div>
                </div>
              </div>

              <div class="py-0">
                <div
                  class="grid grid-cols-1 mt-6 sm:grid-cols-2 gap-y-5 gap-x-6">
                  <div>
                    <label for="" class="text-sm font-medium text-gray-600">
                      Nome completo
                    </label>
                    <div class="mt-2">
                      <input
                        type="text"
                        id=""
                        name=""
                        placeholder=""
                        class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                    </div>
                  </div>

                  <div>
                    <label for="" class="text-sm font-medium text-gray-600">
                      CPF/CNPJ
                    </label>
                    <div class="mt-2">
                      <input
                        type="text"
                        id=""
                        name=""
                        placeholder=""
                        class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                    </div>
                  </div>

                  <div class="sm:col-span-2">
                    <label for="" class="text-sm font-medium text-gray-600">
                      Telefone
                    </label>
                    <div class="mt-2">
                      <input
                        type="text"
                        id=""
                        name=""
                        placeholder=""
                        class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="py-7">
                <h2 class="text-base font-bold text-gray-900">Pagamento</h2>

                <div class="mt-6 space-y-4">
                  <div class="bg-white border-2 border-gray-900 rounded-md">
                    <div class="px-4 py-5 sm:p-6">
                      <div class="flex items-center">
                        <div>
                          <span class="hidden">
                            <svg
                              class="w-6 h-6 text-gray-300"
                              viewBox="0 0 22 22"
                              fill="none"
                              stroke="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle
                                cx="11"
                                cy="11"
                                r="10.25"
                                stroke-width="1.5" />
                            </svg>
                          </span>

                          <span>
                            <svg
                              class="w-6 h-6"
                              viewBox="0 0 22 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle cx="11" cy="11" r="11" fill="#18181B" />
                              <path
                                d="M6.91699 11.5833L9.25033 13.9166L15.0837 8.08331"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </div>

                        <div class="ml-4">
                          <p class="text-base font-bold text-gray-900">
                            Cartão de crédito
                          </p>
                          <p class="mt-1 text-sm font-medium text-gray-500">
                            Visa, Mastercard, American Amex
                          </p>
                        </div>
                      </div>

                      <div
                        class="grid grid-cols-2 mt-5 sm:grid-cols-4 gap-x-6 gap-y-5">
                        <div class="col-span-2 sm:col-span-4">
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            Número do cartão
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="XXXX XXXX XXXX XXXX"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>

                        <div class="col-span-2">
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            Nome impresso no cartão
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="ex: Aline marinho"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>

                        <div>
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            Validade
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="MM/YYYY"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>

                        <div>
                          <label
                            for=""
                            class="text-sm font-medium text-gray-600">
                            CVV
                          </label>
                          <div class="mt-2">
                            <input
                              type="text"
                              name=""
                              id=""
                              placeholder="XXX"
                              class="block w-full px-4 py-3 text-sm font-normal text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md caret-gray-900 focus:ring-gray-900 focus:border-gray-900" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bg-white border-2 border-gray-200 rounded-md">
                    <div class="px-4 py-5 sm:p-6">
                      <div class="flex items-center">
                        <div>
                          <span>
                            <svg
                              class="w-6 h-6 text-gray-300"
                              viewBox="0 0 22 22"
                              fill="none"
                              stroke="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle
                                cx="11"
                                cy="11"
                                r="10.25"
                                stroke-width="1.5" />
                            </svg>
                          </span>

                          <span class="hidden">
                            <svg
                              class="w-6 h-6"
                              viewBox="0 0 22 22"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <circle cx="11" cy="11" r="11" fill="#18181B" />
                              <path
                                d="M6.91699 11.5833L9.25033 13.9166L15.0837 8.08331"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                          </span>
                        </div>

                        <div class="ml-4">
                          <p class="text-base font-bold text-gray-900">Pix</p>
                          <p class="mt-1 text-sm font-medium text-gray-500">
                            Pague por Pix e tenha aprovação em instantes.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-6 block sm:hidden">
                    <button
                      routerLink="/success"
                      type="button"
                      class="inline-flex items-center justify-center w-full px-6 py-4 text-sm font-bold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:bg-gray-700">
                      Finalizar compra
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
